@import 'reset';

html {
  @include scrollbar;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  font-size: 16px;
}
body {
  @include scrollbar;
  color: #FFF;
  background-color: $light-black;
  font-family: $montserrat;
  background-size: calc(100% + calc(100vw - 100%));
  background-repeat: no-repeat;
  overflow-x: hidden;
}
h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.mb-7 {
  margin-bottom: 7px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-23 {
  margin-bottom: 23px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-auto {
  margin-left: auto;
}
.mr-10 {
  margin-right: 10px;
}
.mr-auto {
  margin-right: auto;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-40 {
  margin-right: 40px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.content-wrap {
  display: flex;
  width: 100%;
}
.container {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
.scroll-x {
  overflow-x: auto;
  @include scrollbar;
}
.container__main {
  position: relative;
  width: 100%;
  margin-left: 275px;
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;

  .submenu:last-child {
    display: none;
  }
}
.container__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.relative {
  position: relative;
}
.bg {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background: #0C0C14;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
    max-height: 1000px;
    min-height: 500px;
  }
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
  @include noselect;

  &:disabled {
    cursor: default;
    opacity: .5;
  }
}

input:focus, label:focus, span:focus {
  outline: none;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

.content {
  padding: 40px 40px 20px;
  width: 100%;
}

.boxes {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-bottom: 34px;
}

.box {
  width: 100%;

  border-radius: 10px;
  background:$light-black;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__top {
    display: flex;
    justify-content: space-between;

    @media (min-width: 426px) and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    .box__text {
      display: block;
    }
  }

  &__items {
    display: grid;
    grid-gap: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 93.95%;
    letter-spacing: 0.01em;
    color: #FFF;
  }

  &__text {
    color: rgba(#fff, .5);
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 160%;
    margin: 0 0 20px;

    @media (min-width: 426px) and (max-width: 768px) {
      // margin-top: 10px;
      // margin-bottom: 0;
      // align-self: flex-start;
    }

    // @media (max-width: 768px) {
    //   font-size: 14px;
    // }
  }


  &__btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

}

.switch-box {
  display: flex;
  align-items: center;
}
.switch {
  display: flex;
  
  &__label {
    margin-right: 20px;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1;
  }
}

.main-btn {
  width: 100%;
  height: 56px;
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  @include btn_blue;
  @include btn;
  &__dis {
    font-weight: 400;
    background: #383848;
    cursor: default;
    &:hover {
      font-weight: 400;
      background: #383848;
    }
  }
}

.mini-btn {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  line-height: 1;
  height:45px;
  min-width: 83px;
  background-color: #373747;
  border-radius: 10px;
  color: #fff;
  @include btn;
  &:hover {
    background-color: #434355;
  }
  &:active {
    background-color: $soft-blue;
  }
  &.active {
    background-color: $soft-blue;
  }
}

.icon-btn {
  @include btn;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .05);
}

.copy-btn {
  @include btn;
  display: flex;
  align-items: center;
  background-color: #2B2B3C;
  border-radius: 42px;
  padding: 6px 14px;
  & .text {
    color: #fff;
    line-height: 24px;
    margin-right: 5px;
  }
  &:hover {
    background-color: #434355;
  }
  &:active {
    background-color: $soft-blue;
  }
  &.active {
    background-color: $soft-blue;
  }
}

.btn_c {
  color: $soft-blue;
  font-weight: 500;
  @include btn;
  width: 100%;
  height: 56px;
}

.info-wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
  & .col {
    padding-right: 20px;
    padding-left: 20px;
    width: 50%;
    @media (max-width: 991px) {
      width: 100%;
    }
    margin-bottom: 20px;
  }
}

.info-box {
  position: relative;
  width: 100%;
  height: 162px;
  min-height: 162px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2A2A38;
  .coin-icon {
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  & .send-coin-btn {
    position: absolute;
    border-radius: 18px;
    padding-left: 10.5px;
    padding-right: 10.5px;
    height: 36px;
    background-color: $soft-blue;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: background-color .35s;
    & .text {
      display: inline-block;
      white-space: nowrap;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      margin-right: 10px;
    }
    &:hover {
      background-color: $soft-blue-hover;
    }
  }
  & .title {
    font-size: 14px;
    line-height: 1.215;
    opacity: .5;
  }
  & .count {
    @media (max-width: 767px) {
      font-size: 26px;
    }
    @media (max-width: 479px) {
      font-size: 22px;
    }
    display: flex;
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    & .currency {
      @media (max-width: 767px) {
        font-size: 22px;
        margin-left: 15px;
      }
      @media (max-width: 479px) {
        font-size: 18px;
        margin-left: 10px;
      }
      font-size: 30px;
      font-weight: 800;
      margin-left: 30px;
    }
  }
  & .cost {
    font-size: 18px;
    line-height: 1.23;
    font-weight: 500;
    opacity: .7;
  }
}

.pagination.b-pagination {
  margin-left: auto;
  margin-top: 15px;
}

.filed {
  display: flex;
  align-items: center;

  &__title {
    color: $pink;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 500;
    line-height: 93.95%;
    margin-bottom: 10px;
  }

  &__value {
    font-family: $roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    word-break: break-word;
  }

  &__left {
    margin: 0 36px 0 0;
  }

  &__right {
    display: flex;
  }

  &__btn {
    border-radius: 5px;
    width: 26px;
    height: 26px;
    background: transparent;

    img {
      width: 15px;
      height: 15px;
    }

    @include btn;

    &:not(:last-child) {
      margin: 0 25px 0 0;
    }

    &:hover {
      background: $soft-blue;
    }
  }
}

@media (max-width: 1499px) {
  .filed {
    &__left {
      margin: 0 20px 0 0;
    }
    &__btn:not(:last-child) {
      margin: 0 16px 0 0;
    }
  }
  .box {
    &__body {
      margin: 0;
    }
  }
}
.burger-btn {
  width: 42px;
  height: 42px;
  min-width: 42px;
  background: $soft-blue;
  color: #fff;
  border-radius: 10px;
  line-height: 1;
  transition: .35s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $soft-blue-hover;
  }
}
@media (max-width: 1365px) {
  .content {
    padding: 0 15px;
    & > .title {
      display: none;
    }
    & > .title2 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .container__main {
    margin-top: 72px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    .submenu:first-child {
      display: none;
    }
    .submenu:last-child {
      display: flex;
    }
  }
  .boxes {
    grid-gap: 20px;
  }
}

@media (max-width: 991px) {
  .bg {
    img {
      margin: 70px 0 0;
    }
  }
  .container__main {
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  .box {
    padding: 20px;
  }
}


.text-pink {
  color: $pink;
}

.sub-text {
  color: rgba(white, .5);
  font-size: 14px;
  line-height: 130%;
  margin-top: 10px;
}

#coinSymbol {
  text-transform: uppercase;

  &::placeholder {
    text-transform: capitalize;
  }
}

.text-mono {
  font-family: $mono;
  font-size: 14px;
}

@media (max-width: 1499px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 479px) {}
