//fonts
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$mono: monospace;

//colors
$main-dark: #0C0C14;
$gray: #F9F8FB;
$pink: #F000FF;
//$white: #FFFFFF;
//$light-black: #1B1B28;
$soft-blue: #7B98F9;
$soft-blue-hover: #657CCB;
//$field: #171723;
//$deactive-item: #383848;
//$widget-bg: rgba(27, 27, 40, 0.4);
//$mobile-soft-button: #11AEF7;
//$mobile-soft-deactive-button: #2A2A38;

$green: #27AE60;
$light-black: #1B1B28;
$grey: #F9F8FB;
$red: #EB5757;

$text-dark: #8E91A7;

$transition-default: .35s;

//gradients
$black-gradient: radial-gradient(71.61% 82.56% at 12.9% 14.61%, #48485C 0%, #0C0C14 100%);
$pink-gradient: radial-gradient(84.2% 84.2% at 81.32% 11.49%, #F993FF 0%, #C70ED2 100%);
$soft-blue-gradient: radial-gradient(71.94% 70.5% at 87.42% 12.99%, #BECCFF 0%, #7B98F9 100%);

